.App {
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.card {
  margin-bottom: 3;
}

.row {
  display: grid;
  row-gap: 0;
}

.img {
  grid-column: 4;
}

.text {
  grid-column: 8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0;
}
.details .big-img {
  max-width: 500px;
  min-width: 290px;
  overflow: hidden;
  margin: 25px;
}
.big-img img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: block;
  object-fit: cover;
}

.details .box {
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}
.box .row {
  display: flex;
  justify-content: space-between center;
  margin-bottom: 15px;
}
.box .row h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
.box .row span {
  color: crimson;
}
.box .colors button {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}
.box p {
  line-height: 1.5;
  margin: 15px 0;
}
.thumb {
  width: 100%;
  height: 100px;
  display: flex;
  cursor: pointer;
  margin: 10px 0;
}
.thumb img {
  width: 90px;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 5px;
  opacity: 0.7;
  border-radius: 5px;
}
.thumb img.active {
  opacity: 1;
  border: 1px solid lightseagreen;
}
.box .cart {
  background: #333;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 15px;
}

.services {
  max-width: 1200px;
  width: 100%;
  margin: 100px auto;
  box-shadow: 0 0 5px #ccc;
}

.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  box-shadow: none;
}
.card {
  font-size: 1em;
  overflow: hidden;
  padding: 5;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-top: 20px;
}

.btn {
  margin-top: auto;
}

/* dashboard */
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #f1deda;
  font-family: "Poppins", sans-serif;
  color: rgba(0, 0, 0, 0.8);
}
.pfl-wrapper {
  display: block;
  width: auto;
  height: 100%;
  padding: 40px;
  margin: 50px;
  background-color: #f1deda;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
  overflow: auto;
}
#nav {
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  width: auto;
  height: auto;
}
#nav:hover .nav-icon span {
  width: 100%;
}
#nav:hover .nav-icon span:before,
#nav:hover .nav-icon span:after {
  width: 100%;
  transition: all 0.25s;
}
#nav .nav-icon {
  display: block;
  width: 30px;
  height: 17px;
  position: absolute;
  top: 40px;
  left: 40px;
}
#nav .nav-icon:after {
  display: block;
  content: "Menu";
  padding-left: 45px;
  line-height: 15px;
}
#nav .nav-icon span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}
#nav .nav-icon span:before,
#nav .nav-icon span:after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.25s;
}
#nav .nav-icon span:before {
  margin-top: 7px;
  width: 80%;
}
#nav .nav-icon span:after {
  margin-top: 5px;
  width: 60%;
}
#nav .hire-me {
  display: block;
  position: absolute;
  top: 34px;
  right: 50px;
  padding-right: 10px;
}
#nav .hire-me:after {
  display: block;
  content: "";
  width: 15px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 100%;
  top: 50%;
}
article {
  display: block;
  width: auto;
  height: auto;
  padding: 50px 0;
  overflow: auto;
}
article .profile-photo {
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
  background-image: url("http://nickylew.com/wp-content/uploads/2017/05/nickylew-2017.jpg");
  background-size: 230%;
  background-position: 80% 0%;
  background-repeat: no-repeat;
}
article .profile-info {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
article .profile-info h1 {
  font-size: 2em;
  font-weight: 600;
  margin-top: 0.5em;
}
article .people,
article .posts {
  display: inline-block;
  width: 100%;
  margin: 60px 0 0;
  float: left;
}
article .people .round-tile {
  display: inline-block;
  float: left;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
}
article .people .round-tile:hover {
  text-decoration: none;
}
article .people .round-tile:hover .roundal {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.25s;
}
article .people .round-tile:hover h4 {
  color: #0275d8;
  transition: color 0.25s;
  text-decoration: none;
}
article .people .round-tile .roundal {
  display: block;
  margin: 0 auto 10px;
  width: 90px;
  height: 90px;
  background-color: #363636;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: box-shadow 0.25s;
}
article .people .round-tile .roundal.twitter {
  background-color: #1da1f2;
  background-image: url("http://www.macdrifter.com/theme/images/twitter-snow.svg");
  background-size: 50% auto;
  background-position: center center;
  background-repeat: no-repeat;
}
article .people .round-tile .roundal.codepen {
  background-color: #000;
  background-image: url("https://www.shareicon.net/download/2016/11/03/849433_codepen_512x512.png");
  background-size: 115% auto;
  background-position: center center;
  background-repeat: no-repeat;
}
article .people .round-tile .roundal.instagram {
  background-color: transparent;
  background-image: url("http://sevenfiguresocial.com/wp-content/uploads/2016/08/instagram_gradient_wallpaper_by_jasonzigrino-da28exh-550x400.png");
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
article .people .round-tile .roundal.instagram:before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 50% auto;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}
article .people .round-tile h4 {
  font-size: 1.1em;
  color: rgba(32, 32, 32, 0.6);
  transition: color 0.25s;
  text-decoration: none;
}
article .posts .tile {
  display: inline-block;
  float: left;
  margin-bottom: 30px;
}
article .posts .tile:nth-of-type(2n + 1) {
  clear: both;
}
article .posts .tile .inner {
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow 0.25s;
}
article .posts .tile .inner img {
  width: 100%;
  height: auto;
}
article .posts .tile .inner h4 {
  font-size: 1.1em;
  line-height: 1.4em;
  padding: 20px 15px 10px;
  transition: color 0.25s;
}
article .posts .tile .inner:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.25s;
}
article .posts .tile .inner:hover h4 {
  color: #0275d8;
  transition: color 0.25s;
}
@media (min-width: 992px) {
  article .people .round-tile:nth-of-type(2) {
    transform: translateY(80px) translateX(-20%);
  }
  article .people .round-tile:nth-of-type(3) {
    transform: translateY(20px);
  }
}
@media (min-width: 1200px) {
  article .people .round-tile:nth-of-type(2) {
    transform: translateY(80px) translateX(-40%);
  }
}
@media (min-width: 1400px) {
  article .people .round-tile:nth-of-type(2) {
    transform: translateY(80px) translateX(-50%);
  }
}
@media (max-width: 480px) {
  .pfl-wrapper {
    margin: 30px;
    padding: 40px 0 0;
  }
  article .profile-info {
    padding: 0 30px;
  }
  #nav .nav-icon {
    top: 10px;
    left: 10px;
  }
  #nav .hire-me {
    top: 5px;
    right: 10px;
  }
}

/* <Box
display="block"
width="130px"
height="130px"
border-radius="50%"
background-color="#fff"
margin="0 auto"
background-image={`url("/images/"${data.profilePic})`}
background-size="230%"
background-position="80% 0%"
background-repeat="no-repeat"
></Box> */
